*.o
*.obj
*.os
*.so
.cache
.godot
.mono
.sconsign.dblite
.vs
.vscode
addons/lv2-host/bin
addons/vst3-host/bin

build
build-log.txt
compile_commands.json
src/version_generated.gen.h
src/gen
doc_classes/_build
__pycache__
scripts/output.txt
scripts/out.wav
